.no-cart-text{
    margin-top: 40vh;
    text-align: center;
}

.cart-btn{
    background-color: #26a0da;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:2px solid orangered;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 20px;
}
.cart{
    margin-top: 80px;
}

.items{
    width: 100%;
}
.item-flex{
    display: flex;
    justify-content: space-between;
}
.cart-img{
    width: 200px;
}
.cart-cat{
margin-top: 5%;
}
.cart-price{
background-color: orangered;
border-radius: 5px;
padding: 5px;

}

@media screen and (max-width: 600px) {
    .cart-img{
        width: 100px;
    }
    .item-flex{
        display: block;
    }
    .cart-price{
        background-color: orangered;
        border-radius: 5px;
        padding: 1px;
        font-weight: 300;
        }
    .cart-cat{
     font-weight: 200;
    }
}